<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!-- Style -->
  <link rel="stylesheet" href="../static/css/style.css">
  <style type="text/css">
    h3{
      font-family: Oswald;
      opacity: 0.9;
      
    }
    html, body {
        height: 100%;
    }
    .fill-height {
        min-height: 100%;
        height:auto !important; /* cross-browser */
        height: 100%; /* cross-browser */
    }
  </style>
  <title>Complaint Form</title>
</head>
<body>



  <nav class="navbar " style="background-color: #082F41; border-color: black;">
        <div id='nav1' style="background-color: rgba(4, 43, 61, 0.863)" class="container" >
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><h3 style="color:white; align-items: left;">City Issues Registration</h3></a>
      </div>
<a href="status">
      <button id='compl'class="btn btn-primary rounded-0 py-2 px-4" style="background-color: #1A73E8;">Tracking</button>
 </a>
    </div>
  </nav>


<div class="container" style="align-items: center; justify-content: center; padding: 50px 10px 10px 10px;background-color: white;" >
  <div class="row align-items-stretch no-gutters contact-wrap fill-height">
    <div class="col-md-12">
      <div class="form h-100" >

 <h3 style="letter-spacing: -1px; ">Complaint Registration</h3>
 <h3 style="font-size: 25px; ">We are here to assist you!</h3>
  

      <form class="mb-5" method="post" id="contactForm" name="contactForm">
        <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label for="" class="col-form-label">Email *</label>
            <input type="text" class="form-control" name="email" id="email"  placeholder="Your email" required>
          </div>
        </div>
          <div class="row" style="opacity:0.99">
            
            
            <select id="location" class="form-select" style="width:510px; height: 50px;margin-left: 15px;margin-bottom: 10px;">
              <option selected value="">Location</option>
              <option value ="Chromepet">Chromepet</option> 
              <option value ="Velachery">Velachery</option> 
              <option value ="Guindy">Guindy</option> 
              <option value ="Pallavaram">Pallavaram</option> 
              <option value ="Tambaram">Tambaram</option> 
              <option value ="Sanatorium">Sanatorium</option> 
              <option value ="Chitlapakkam">Chitlapakkam</option> 
              <option value ="Saidapet">Saidapet</option> 
              <option value ="Tirusulam">Tirusulam</option> 
              <option value ="Vandalur">Vandalur</option>
            
            </select>
          </div>
          
        


        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label for="message" class="col-form-label">Complaint *</label>
            <textarea class="form-control" name="message" id="message" cols="30" rows="4"  placeholder="Write your complaint" required></textarea>
          </div>
        </div>
        <div class="row" style="box-shadow: 0px 0px white;"> 
          <div class="col-md-12 form-group" style="box-shadow: 0px 0px white;"> 
            <button type="submit" id="submit"class="btn btn-primary rounded-0 py-2 px-4" style="background-color:#1A73E8; box-shadow: white;">Submit</button>
                    </div>
                            
        </div>
      </form>
      
      <h3 id="confirmation"></h3>


 
    </div>
  </div>
</div>
</div>



  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.validate.min.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
<script src="../static/upload.js"></script>
</body>
</html>