<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="../static/css/style.css">
  <style type="text/css">
    h3, h5{
      font-family: oswald;
      
    }
    h5{
      font-size: 150%;
      margin-bottom: 15px;
      
    }
    html, body {
        height: 100%;
    }
    .fill-height {
        min-height: 100%;
        height:auto !important; /* cross-browser */
        height: 100%; /* cross-browser */
    }

  </style>
 
  <title>Complaint Tracking</title>
</head>
<body>



  <nav class="navbar " style="background-color: #082F41">
        <div class="container" style="background-color: #082F41">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><h3 style="color:white; align-items: left;">City Governance</h3></a>
      </div>
<a href="/Complaint.html">
      <button class="btn btn-primary rounded-0 py-2 px-4" style="background-color: #1A73E8;">Complaint</button>
    </a>
    </div>
  </nav>


<div class="container" style="align-items: center; justify-content: center; padding: 50px 10px 10px 10px; ">
  <div class="row align-items-stretch no-gutters contact-wrap fill-height">
    <div class="col-md-12">
    
      <div class="form h-100" >
        <form id="statusForm" name="contactForm" method="POST">
           <div style="align-items: center; justify-self: center;"> 
           <h3 style="letter-spacing: -1px; text-align: center;">Complaint Tracking</h3>
           </div>
           <div class="row" style="align-items: center;justify-content: center;">
            <div class="col-md-6 form-group mb-3">
              <label for="" class="col-form-label" style="justify-content: center; align-items: center;"><h5>Enter your Complaint ID </h5></label>
              
              <input type="text" class="form-control" name="CID" id="CID"  placeholder="Complaint ID" required>
              <center>
              <button type="submit" id="submit" class="btn btn-primary rounded-0 py-2 px-4" style="background-color:#1A73E8; box-shadow: white; margin-top: 30px;">Submit</button>
            </center>
            </div>
            </div>
         <div style="margin: 50px;">
            <h5 id="hpro"style="text-align: center; color: #1A73E8;"></h5>
            <p id="hpro1" style="text-align: center;"> </p>
         </div>
   </form>


</div>


    </div>
  </div>
</div>




  
  <script src="../static/js/jquery.validate.min.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script src="../static/js/status1.js"></script>
</body>
</html>